# Nextjs
NEXT_PUBLIC_API_URL=http://localhost:3000/api

# Database
DATABASE_URL=postgresql://vulnsync:vulnsync@localhost:5432/vulnsync

# LDAP
LDAP_URL=ldap://ldap.company.local:389
LDAP_BIND_DN=cn=admin,dc=company,dc=local
LDAP_BIND_PASSWORD=secret
LDAP_SEARCH_BASE=dc=company,dc=local
LDAP_REQUIRED_GROUP_DN=cn=admin,OU=Groups,dc=company,dc=local
