ENV=dev

# Nextjs
NEXT_PUBLIC_API_URL=http://localhost:3000/api
SERVER_NAME=localhost

# dev certs
SSL_CERT_PATH=/etc/nginx/ssl/dev/fullchain.pem
SSL_KEY_PATH=/etc/nginx/ssl/dev/privkey.pem

# Backend CORS
FRONTEND_URL=http://localhost:3001

# Database
DATABASE_URL=postgresql://vulnsync:vulnsync@localhost:9876/vulnsync
POSTGRES_DB=vulnsync
POSTGRES_USER=vulnsync
POSTGRES_PASSWORD=vulnsync

# LDAP
LDAP_URL=ldap://ldap.company.local:389
LDAP_BIND_DN=cn=admin,dc=company,dc=local
LDAP_BIND_PASSWORD=secret
LDAP_SEARCH_BASE=dc=company,dc=local
LDAP_REQUIRED_GROUP_DN=cn=admin,OU=Groups,dc=company,dc=local
